@using Microsoft.AspNetCore.Identity;


@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User)) @* caso esteja logado, sera apresentado o botao para Logout *@
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">

        <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
            Logout: @User.Identity.Name &nbsp;
        </button>

    </form>
}
else @* caso nao esteja logado, sera apresentado o botao para Login *@
{
    <a class="nav-link text-light" asp-controller="Account" asp-action="Login"
       asp-route-returnUrl="@string.Format("{0}{1}", Context.Request.Path, Context.Request.QueryString)" style="color:white">&nbsp; Login&nbsp;</a>

}