<br />
<img src="~/imagens/admin.png" width="250px" height="250px" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Área do Administrador!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" class="btn btn-secondary" style="margin-bottom: 35px" asp-action="Index">Volta à pagina inicial</a>
</div>